# See related documentation in https://github.com/anz-bank/sysl/blob/master/docs/releasing.md
name: Release

on:
  push:
    tags:
      - 'v*.*.*'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release-arrai:
    name: Release Arr.ai
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14
        uses: actions/setup-go@v1
        with:
          go-version: 1.14

      - name: Check out code into the Go module directory
        uses: actions/checkout@master

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Install golangci-lint
        run: |
          go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.24.0
          git restore go.mod go.sum

      - name: Build
        run: PATH=$PATH:$(go env GOPATH)/bin make all

      - name: Validate goreleaser config
        uses: goreleaser/goreleaser-action@v2.0.2
        with:
          version: v0.134.0
          args: check -f .github/goreleaser_configs/goreleaser.yml

      - name: Set env
        run: echo ::set-env name=GOVERSION::$(go version | awk '{print $3, $4;}')

      - name: Check for dirty git
        run: |
          git status
          git diff

      # GoReleaser release process is customized in `.goreleaser.yml` file
      - name: Release binaries via goreleaser
        uses: goreleaser/goreleaser-action@v2.0.2
        with:
          version: v0.134.0
          args: release --rm-dist --debug -f .github/goreleaser_configs/goreleaser.yml
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
