name: Go wasm
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  build:
    name: Build and Test Wasm
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: GOOS=js GOARCH=wasm go build -o arrai.wasm ./cmd/arrai

    - name: get wasm_exec.js
      run: curl -O https://raw.githubusercontent.com/golang/go/46f9aea80197bfdf4c024c3f5a71be51a2facf59/misc/wasm/wasm_exec.js

    - name: Set up Node
      uses: actions/setup-node@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Run tests
      run: node wasm_exec.js arrai.wasm
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_AUTH_TOKEN: "SOME-RANDOM-KEY"